@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
table {
    width: 100%;
  }


.mat-row:nth-child(even){
  background-color: #e4f0ec;
}

.mat-row:nth-child(odd){
  background-color:#ffffff;
}

th.mat-sort-header-sorted {
  color: black;
}


.button {
  padding: 20px;
}


